@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

body {
	background-color:gray;
	text-align:center;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

h1 {
		font-size:55px;
}

hr {
  border: 3px solid white;

}

.input {
	padding:15px;
	border:none;
	border-radius: 30px;
  width: 20em;
  height: 1em;
  text-align: center;
  transition: 1s linear;
  font-size: 20px;
}

.input:hover, :focus {
  background-color: rgba(212, 207, 207, 0.705);
  width:22em;
  height: 1.2em;
}

#submit {
  border-radius: 30px;
  width: 15rem;
  height: 2em;
  transition: 1.5s ease;
  font-size: 20px;
  margin-left: 40.5em;
  margin-bottom: 20px;
  display: block;
  cursor: pointer;
}


#reset {
  visibility: hidden;
  border-radius: 30px;
  width: 15rem;
  height: 2em;
  cursor: pointer;
  font-size: 20px;
  display: block;
  margin-left: 40.5em;
}

#header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

#text1 {
  font-size: 20px;
  font-weight: 800;
  animation: rainbow 2.5s linear 0s infinite; 
  display:none;
}

@keyframes rainbow {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}

