@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

body {
	background-color:gray;
	text-align:center;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}

h1 {
		font-size:95px;
}

hr {
  border: 3px solid white;

}

.input {
	padding:25px;
	border:none;
	border-radius: 30px;
  width: 30em;
  height: 1.2em;
  text-align: center;
  transition: 1s linear;
  font-size: 30px;
}

.input:hover, :focus {
  background-color: rgba(212, 207, 207, 0.705);
  width:32em;
  height: 1.7em;
}

#submit {
  border-radius: 30px;
  width: 20rem;
  height: 2em;
  transition: 1.5s ease;
  font-size: 20px;
  margin-bottom: 50px;
}

#submit:hover {
  background-color: rgba(129, 129, 129, 0.705);
  cursor: pointer;
  width: 22rem;
  height: 3em;
}

#reset {
  visibility: hidden;
  border-radius: 30px;
  width: 20rem;
  height: 2em;
  transition: 1.5s ease;
  font-size: 20px;
}

#reset:hover {
  background-color: rgba(129, 129, 129, 0.705);
  cursor: pointer;
  width: 22rem;
  height: 3em;

}
#header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

#text {
  font-size: 50px;
  font-weight: 800;
  animation: rainbow 2.5s linear 0s infinite; 
}

@keyframes rainbow {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}

